* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: lightblue;
    margin-left: 5px;
    margin-right: 5px;
}

#header {
    height: 200px;
    background-color: burlywood;
    margin-bottom: 10px;
}

article {
    width: 40%;
    background:lightgreen;
    height: 20vh;
    margin-bottom: 10px;   
}

.btn-primary {
    background: red;
};

